.DS_Store
*.iml
*.iws
*.orig
*.rej
**/.keep
*.sdf
*.suo
*.vcxproj.user
*.swp
*.log
*.pyc
.idea
.svn
.classpath
.project
.cardConfig
target
gen-java
build
dist
node_modules
studio-api/logs/
lib/
logs/
hugegraph-studio-*
dist.sh
studio-ui/package-lock.json
studio-api/src/main/java/com/baidu/hugegraph/studio/common/
