body {
    font-family: "Helvetica Neue", "Microsoft YaHei", "Hiragino Sans GB",
    "WenQuanYi Micro Hei", "Helvetica", "Arial", "Sans-serif";
    background: #ecf0f1;
}

.navbar {
    min-height: 34px;
    border-radius: 0;
    margin-bottom: 0;
    background: #385380;
}

.navbar-inverse {
    border-color: #385380;
    color: #fff;
    height: 36px;
}

.navbar-brand {
    padding: 2px 5px;
    height: 34px;
}

.navbar-right > .dropdown {
    height: 35px;
}

.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-inverse .navbar-nav > li:hover {
    background-color: #000;
    height: 35px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.dropdown-menu .divider {
    margin: 4px 0;
}

.studio-header {
    margin: 0 0 20px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    height: 28px;
}

.studio-header .header-title {
    float: left;
    width: auto;
    max-width: 60%;
    margin-left: 15px;

}

.studio-header .header-control-middle {
    margin-left: 30px;
    width: auto;
    float: left;
}

.studio-header .header-control-right {
    width: auto;
    float: right;
    margin-right: 15px;
}

.studio-header .header-control-right .nav > li > a {
    padding: 4px 15px;
    border-radius: 0;
    font-size: 14px;
    color: #333;
}

.studio-header .header-control-right .nav > li > a:hover {
    background-color: #5d5c5c;
    color: #fff;
    cursor: pointer;
}

.studio-header .header-title h1 {
    font-size: 14px;
    margin: 6px 0;
}

.studio-header .header-title h1 i {
    margin-right: 6px;
}

.studio-header-button {
    font-size: 14px;
    padding: 4px 5px;
    float: left;
}

.schema-bt {
    float: right;
}

.studio-header .btn-group-sm > .btn,
.btn-sm {
    padding: 3px 10px;
}

.btn-default {
    background-image: none;
}

.studio-header .header-title p {
    color: #666;
}

.studio-header .btn-link {
    color: #333;
}

.studio-header .btn-link:hover,
.studio-header .btn-link:focus {
    background-color: #ddd;
    color: #3071a9;
    text-decoration: none;
}

td > button.btn {
    padding: 3px 6px;
    margin-left: 4px;
}

.page-title {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.modal-header {
    border-bottom: none;
    padding-left: 50px;
}

.modal-footer {
    border-top: none;
}

.modal-content {
    border-radius: 0;
    background-color: #fff;
}

.modal-body {
    padding: 0 50px;
}

.modal-footer {
    text-align: center;
}

.card {
    font-size: 14px;
    padding: 3px 0;
}

.card .panel {
    margin-bottom: 0;
    border-radius: 2px;
}

.card .panel .panel-body {
    padding: 5px 10px;
    height: 100%;
}

.card .btn-link {
    color: #333;
}

.card .btn-link:hover,
.card .btn-link:focus {
    background-color: #ddd;
    color: #3071a9;
    text-decoration: none;
}

.card-editor {
    height: auto;
}

.card-para {
    display: none;
}

.card-para .form-control {
    width: auto;
}

.card-para .form-group {
    margin-bottom: 8px;
}

.card-content-toolbox {
    margin-bottom: 8px;
}

.card-content {
    height: auto;
}

.card-footer {
    padding: 5px;
    font-size: 12px;
    color: #ccc;
}

.card-add:hover .card-add-line {
    border-bottom: 1px solid #ddd;
}

.card-add-btn {
    text-align: center;
    margin-top: -15px;
}

.card-add-line {
    width: 100%;
    height: 15px;

}

.schema-view {
    background-color: #fff;
    margin-top: -19px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    min-height: 100px;
}

.graph {
    width: 100%;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.bootstrap-select .dropdown-toggle:focus li.selected {
    outline: none !important;
}

li.selected {
    outline: none !important;
}

.bootstrap-select a:focus {
    outline: none;
    outline-offset: -2px;
}

.bootstrap-select .dropdown-menu {
    font-size: 12px;
}

.connection-header {
    float: right;
    padding-bottom: 10px;
}

.connection-header button span {
    margin-left: 5px;
}

form {
    font-size: 14px !important;
}

.has-error {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-err-message {
    color: #a94442;
    margin-top: 5px;

}

.alert-message {
    margin-top: 20px;
    text-align: center;
}

.dropdown > a {
    color: #333;
}

.full-screen {
    margin-top: -3px;
}

.full-screen-col-md-12 {
    padding: 0 0;
}

.tab-content {
    padding-top: 5px;
    padding-bottom: 5px;
}

.code-content {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 250px;
    word-wrap: break-word;
    word-break: break-all;
}

.card-content .alert {
    /*padding: 0!important;*/
    margin-bottom: 0 !important;
}

.html-content {
    padding: 0 5px 0 5px;
    word-wrap: break-word;
    word-break: normal;
}

.progress-wrapper {
    height: 80px;
    width: 80px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.schema {
    padding-top: 5px;
}

.schema h5 {
    margin-left: 10px;
}

.schema-span {
    min-width: 50px;
    margin: 0 5px;
    display: inline-block;
}

.schema-box {
    border-top: 1px solid #ddd;
    padding: 5px;
    width: 100%;
}

.schema-container {
    padding-bottom: 20px;
}

.schema-container .label {
    padding: .3em .6em .3em !important;
}

.vis-tooltip {
    padding: 10px 10px !important;
    white-space: nowrap;
    font-family: Sans-serif !important;
    font-size: 14px;
    font-variant: normal !important;
    font-weight: 200 !important;
    font-stretch: normal !important;
    opacity: .5;
    color: #fff !important;
    background-color: #000 !important;
       -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
            border-radius: 3px !important;
    border: 1px solid #808074 !important;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2) !important;
    pointer-events: none !important;
    z-index: 99999 !important;
    transition: left .4s cubic-bezier(.23, 1, .32, 1),
                top .4s cubic-bezier(.23, 1, .32, 1) !important;
}

.tooltips-label {
    font-weight: 800 !important;
}

.round-red {
    width: 10px;
    height: 10px;
    display: inline-block;
    font-size: 10px;
    line-heigth: 10px;
    text-align: center;
    color: #f00;
    text-decoration: none;
}

.round-gray {
    width: 10px;
    height: 10px;
    display: inline-block;
    font-size: 10px;
    line-heigth: 10px;
    text-align: center;
    color: #aaa;
    text-decoration: none;
}

.react-tabs .nav > li > a {
    padding: 5px 10px;
    color: #5d5c5c;
    border-radius: 3px;

}

.react-tabs .nav > li > a:hover {
    cursor: pointer;
}

.react-tabs .nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #8a8989;
}

.err_msg h5 {
    margin-top: 5px;
}

.err_title .detail {
    min-width: 50px;
    display: inline-block;
    margin-left: 5px;
    padding: .2em .6em .2em;
}

.err_title .detail:hover {
    background-color: #5d5c5c;
    color: #fff;
    cursor: pointer;
}

.err_title {
    padding-bottom: 5px;
}

.detailed_err_msg {
    border-top: 1px #a2a0a0 dashed;
    padding-top: 5px;
    color: #000;
    word-wrap: break-word;
}

.property_name_span {
    margin-right: 5px;
    font-weight: 700;
}

.property_value_span {
    margin-left: 5px;
    word-wrap: break-word;
}

.loading-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background: rgba(0, 0, 0, 0.7);
    opacity: .3;
    transition: color .4s, border-color .4s;
    overflow-x: hidden;
    overflow-y: auto;
}

.loading-image {
    width: 80px;
    height: 80px;
    z-index: 2040;
}

/* vis */
div.vis-network div.vis-navigation div.vis-button {
    border-radius: 0;
    width: 30px;
    height: 30px;
    display: none;
}

div.vis-network:hover div.vis-navigation div.vis-button {
    display: block;
}

div.vis-network div.vis-navigation div.vis-button:hover {
    box-shadow: 0 0 8px #3071a9;
    background-color: #f9f9f9;
}


div.vis-network div.vis-navigation div.vis-button.vis-zoomIn {
    background-image: url(../images/zoom-in.png) !important;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 16px 16px;
    bottom: 60px !important;
    right: 2px;
    opacity: .5;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomOut {
    background-image: url(../images/zoom-out.png) !important;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    bottom: 30px !important;
    right: 2px;
    opacity: .5;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
    background-image: url(../images/shrink.png) !important;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    bottom: 0 !important;
    right: 2px;
    opacity: .5;
}

div.vis-network div.vis-navigation div.vis-button.vis-up {
    display: none;
}

div.vis-network div.vis-navigation div.vis-button.vis-down {
    display: none;
}

div.vis-network div.vis-navigation div.vis-button.vis-left {
    display: none;
}

div.vis-network div.vis-navigation div.vis-button.vis-right {
    display: none;
}

.path_value {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.query_panel_language {
    padding: 5px 12px;
    margin: 1px;
}

.alert-list {
    margin-top: 140px;
    position: fixed;
    z-index: 99999;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
}

.alert-text {
    word-wrap : break-word;
}