{
  "presets": [
    // webpack understands the native import syntax, and uses it for tree shaking
    ["es2015", {"modules": false}],
    "stage-0",
    // Transpile React components to JavaScript
    "react"
  ],
  "plugins": [
    // Enables React code to work with HMR.
    "react-hot-loader/babel",
    "transform-decorators-legacy"
  ]
}